<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Mi Juego de ROL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="menu-container">
    
    <h1>AVENTURA RPG</h1>
    
    <ion-button expand="block" size="large" color="primary" (click)="navegarACrearPersonaje()">
      Nueva Partida
    </ion-button>
    
    <ion-button expand="block" size="large" fill="outline" color="light" (click)="cargarPartida()">
      Cargar Partida
    </ion-button>
    
    <ion-button expand="block" size="large" fill="clear" color="medium" (click)="mostrarOpciones()">
      Opciones
    </ion-button>

  </div>
</ion-content>